<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="stylesheets/dx.net.2012.css" rel="stylesheet" />
    <script src="script/modernizr-2.7.2.js"></script>
    <style> 
        .col-sm-3 { width: 25%; } 
        .col-sm-4 {  width: 33.33333333%; }
        .col-sm-6 { width: 45%; }
        .col-sm-8 { width: 66.66666667%; }
        .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8 { float:left; }
        .row { width: 100%; margin-left:0; }
		.container { padding: 0}
    </style>
</head>
<body data-mode="offline">
    <header>
        <div class="header-icon">
            <a href="home-page.html"><img src="images/infragistics.png" class="img-responsive" width="400" height="91"></a>
        </div>
    </header>
    <div class="container main">
        <div class="row inner-container">
            <div class="col-sm-12 col-md-12 top-level-content-wrap">
                <div id="BodyContent">
                    <h1>Page Unavailable</h1>
                    <p>This file is not available through this link at the moment. Either you’ve encountered a broken link or you clicked on a link pointing to an API member that is not a part of this package.</p>
                    <p>If you clicked on an API member, you can still get to the help information, but it is split into separate file. Return to the location where you opened this CHM and you’ll find other packages with documentation for each assembly associated with this product.</p>
                </div>
            </div>
        </div>
         <div class="top-button">
            <button class="btn offline btn-sm"></button>
        </div>
    </div>   
    <footer class="footerArea offline text-center">
        <div class="footerIcon">
            <a href="http://www.infragistics.com">
                <img src="images/infragistics.png" class="img-responsive" width="250" height="39">
            </a>
        </div>
        <nav class="footerNav">
            <a href="https://www.infragistics.com/legal/license">LICENSE AGREEMENT</a>|
            <a href="https://www.infragistics.com/about-us/contact-us">CONTACT US</a>|
            <a href="https://www.infragistics.com/support">GET HELP</a>|
            <a href="https://www.infragistics.com/about-us">MEET US</a>|
            <a href="https://www.infragistics.com/legal/privacy">PRIVACY AGREEMENT</a>|
            <a href="https://www.infragistics.com/legal/terms-of-use">TERMS OF USE</a>
        </nav>
    </footer>
    <script src="script/jquery-1.7.2.min.js"></script>        
    <script src="script/dx.net.jqueryplugins.2012.min.js"></script>        
</body>
</html>