#ProjectTitle {
    display: none ;
}

#PageTitleText {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 15px;
}

.BreadcrumbsContainer {
    margin: 10px 0 10px 0;
    font-size: 14px;
}

#BodyContent {
	padding-top: 15px;
}

#FooterContent p, #BodyContent p {
	margin:10px;
}

header {
    background-color: #141414;
}

#BodyContent h2 {
    font-size: 36px;
}