@{
	string main = System.Configuration.ConfigurationManager.AppSettings["IGRootUrl"];
}

<div id="headerSecondary" class="igw-main-header-reveal">
	<section class="igw-main-nav igw-wrapper" id="menu-cente">
		<div class="igw-main-navbar clearfix">
			<h3 class="special-for-controls">
				<a class="headerIcon_click" href="https://app.revealbi.io/">@ViewBag.ProductFamilyName</a>
				<span>| @Resources.Main.Help_Topics</span>
			</h3>
		</div>
	</section>
</div>
