@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Main.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Main.Error</h1>
        <h2>@Resources.Main.Error_Message</h2>
    </hgroup>
</body>
</html>