<!DOCTYPE html>
<html>
<head>
    <title>Ignite UI Documentation</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../Content/structure/infragistics.css" rel="stylesheet" />
    <link href="../Content/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/main.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <script src="../scripts/modernizr-2.7.2.js"></script>
    <!--[if lt IE 9]>
    <style> 
        .col-sm-3 { width: 25%; } 
        .col-sm-4 {  width: 33.33333333%; }
        .col-sm-8 { width: 66.66666667%; }
        .col-sm-3, .col-sm-4, .col-sm-8 { float:left; }
    </style>
    <![endif]-->
</head>
<body data-mode="offline">
    <header>
        <div class="header-icon">
            <h1 class="sr-only">Ignite UI</h1>
            <a href="index.html"><img src="../img/igniteui-trans.png" class="img-responsive" width="400" height="91"></a>
        </div>
    </header>
    <div class="container main">
        <div class="row inner-container">
            <div class="col-sm-3 col-md-3 nav-sidebar">
                <div id="nav-container" class="collapse in">
                    <div id="toc-tree" class="row"></div>
                </div>
                <button id="nav-button" class="btn btn-default form-control ui-visible-phone">Show Navigation</button>
            </div>
            <div id="document-content" class="col-sm-8 col-md-8">
                <%= document %>
            </div>
        </div>
        <div class="top-button"><button class="btn offline btn-sm"></button></div>
    </div>
    <footer class="footerArea offline text-center">
        <div class="footerIcon">
            <a href="http://www.infragistics.com">
                <img src="../img/infragistics.png" class="img-responsive" width="250" height="39">
            </a>
        </div>
        <nav class="footerNav">
            <a href="https://www.infragistics.com/legal/license">LICENSE AGREEMENT</a>|
            <a href="https://www.infragistics.com/about-us/contact-us">CONTACT US</a>|
            <a href="https://www.infragistics.com/support">GET HELP</a>|
            <a href="https://www.infragistics.com/about-us">MEET US</a>|
            <a href="https://www.infragistics.com/legal/privacy">PRIVACY AGREEMENT</a>|
            <a href="https://www.infragistics.com/legal/terms-of-use">TERMS OF USE</a>
        </nav>
    </footer>
    <script src="../scripts/jquery-1.11.1.min.js"></script>
    <script src="../scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="../scripts/infragistics.core.js"></script>
    <script src="../scripts/infragistics.lob.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/app/igviewer.common.js"></script>
    <script src="../scripts/app/igviewer.contentService.js"></script>
    <script src="../scripts/app/igviewer.renderingService.js"></script>
    <script src="../scripts/app/igviewer.tree.data.js"></script>
    <script src="../scripts/app/igviewer.tree.js"></script>
        
</body>
</html>